{% extends 'base.html' %}

{% block content %}
    <style>
        html{
            background: #E1E7FE;
        }
    </style>

    <div class="h-screen flex justify-center items-center">

    <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
        <div class="md:flex">
            <div class="md:flex-shrink-0">
                <img class="h-48 w-full object-cover md:h-full md:w-48" src="https://images.unsplash.com/photo-1663106516321-2575f0dfd562?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80" alt="">
            </div>
            <div class="p-8">
                <div class="uppercase tracking-wide font-semibold text-sm text-indigo-500">case study</div>
                <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black">Finding customers for your new business</a>
                <p class="mt-2 text-gray-500 leading-relaxed">Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your first customers.</p>
            </div>
        </div>
    </div>

    </div>
    
{% endblock content %}
    